<% provide(:title, 'Documentation') %>
<h1>User Documentation</h1>
<!-- TODO: use an appropriate bootstrap class -->
<!-- TODO: or maybe use <article> ??? -->
<div class="user-docs">
  <%= render partial: 'user_documentation' %>
</div>
