<% provide(:title, 'Documentation') %>
<div class="container">
  <div class="row row-centered">
    <div class="col-xs-8 col-centered">
      <%= render partial: 'user_documentation' %>
    </div>
  </div>
</div>
