<% n = ((1..5).to_a).sample %>
<video autoplay loop muted poster="ronsnap.png" id="video-background">
<% if n == 1 then %>
  <source src="such-perspective.mp4" type="video/mp4">
<% else %>
  <source src="ron.mp4" type="video/mp4">
<% end %>
</video>

<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Kennel Management Software</h1>

  <p>He who is cruel to animals becomes hard also in his dealings with men...</p> 

  <p>-- Immanuel Kant</p>

</div>
