<video autoplay loop muted poster="ronsnap.png" id="video-background">
  <source src="ron.mp4" type="video/mp4">
</video>

<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Kennel Management Software</h1>

  <p>He who is cruel to animals becomes hard also in his dealings with men...</p> 

  <p>-- Immanuel Kant</p>

</div>
