<%= form_for @note do |f| %>
  <div class="field", style="height: 150px; margin: 10px;">
    <%= f.text_area :content, placeholder: "Click to add new note..." %>
  </div>
  <%= f.submit "Add Note", class: "btn btn-primary" %>
<% end %>