<p id="notice"><%= notice %></p>

<br>
</br>
<div style="position: relative">
<table border="1" style="width:100%" id="t01">
  <caption style="font-size:20px; color: black; opacity: 100; font-weight: bold;">Feeding List</caption>
  <tr>
    <th>Name</th>
    <th>Diet</th>
	  <th>Run</th>
  </tr>

  <% @feed_list_runn_ordering.each do |runn| %>
      <tr>
        <td><%= link_to runn.current_patient_name + " " + runn.current_patient.owner.last_name, runn.current_patient %></td>
        <td><%= runn.current_patient.diet %></td>
        <td><%= link_to Runn.find_by_id(runn).ident, Runn.find_by_id(runn) %></td>
      </tr>
  <% end %>

</table>
</div>



