<br>
</br>
<div style="position: relative">
<table border="1" style="width:100%" id="t01">
  <caption style="font-size:25px; color: black; opacity: 100; font-weight: bold;">Feeding List</caption>
  <tr>
    <th>Name</th>
    <th>Diet</th>
	  <th>Run</th>
  </tr>

  <% @occupied_runns_for_feed_list.each do |runn| %>
      <tr>
        <td><%= runn.current_patient_name + " " + runn.current_patient.owner.last_name %></td>
        <td><%= runn.current_patient.diet %></td>
        <td><%= runn.ident %></td>
      </tr>
  <% end %>

</table>
</div>



