<h1>Owners</h1>

<div>
	<%= link_to "Add Owner", new_owner_path, class: "btn btn-lg btn-primary"%>
</div>

<% provide(:title, 'All owners') %>
<table class='owners' id="t01">
  <tbody>
     <%= render @owners %>
  </tbody>
</table>
<%= will_paginate %>
