<%= link_to "Add Owner", new_owner_path, class: "btn btn-lg btn-primary"%>

<p>
  <% provide(:title, 'All owners') %>
  <%= will_paginate %>

  <ul class="owners">
    <%= render @owners %>
  </ul>
  <%= will_paginate %>
</p>
