<h1>Owners</h1>

<!-- Add Owner button -->
<div>
	<%= link_to "Add Owner", new_owner_path, class: "btn btn-lg btn-primary"%>
</div>
 <br>

<div style="position: relative">
<table border="1" style="width:100%" id="t01">
<% @owners.each do |owner| %>
  <div class=thumblist>
  <ul>
    <li style="list-style-type:none" class=thumblist>
      <img class=thumblist src="http://41.media.tumblr.com/168f2d300bc90d14edb79ef00e84726f/tumblr_n45cr8dmj61ty0km0o5_1280.png" height="70px" width="70px">
      <h3><%= link_to "#{owner.first_name}", owner%></h3>
    </li>
  </ul>
</div>
<% end %>
<%= will_paginate %>
