<% if stay.is_current %>
<li style="color:green">
  <% t = stay.created_at %>
	<%= t.in_time_zone('Central Time (US & Canada)').strftime("%B %d, %Y -- %l:%M %p") %>
  -- <%= stay.inspect %>
</li>
<% else %>
<li>
  <%=  stay.created_at %>
</li>
<% end %>
