<h1>Users</h1>

<div >
  <%= link_to "Add User", new_path, class: "btn btn-lg btn-primary"%>
</div>
<br>
<div style="position: relative">
<table border="1" style="width:100%" id="t01">
	
<% @users.each do |user| %>
<div class=thumblist>
  <ul>
    <li style="list-style-type:none" class=thumblist>
      <%= image_tag user.image_url(:index_thumb).to_s %>
      <h3><%= link_to "#{user.first_name}", user%></h3>
      <p style="float: right"><%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %></p>
    </li>
  </ul>
</div>
<% end %>