<h1>Users</h1>

<div >
  <%= link_to "Add User", new_path, class: "btn btn-lg btn-primary"%>
</div>
<br>
<div style="position: relative">
<table border="1" style="width:100%" id="t01">
	
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %>.
    	<%= link_to "#{user.first_name} #{user.last_name}", user%>
    </td>
  </tr>
<% end %>

</table>
</div>