<p>
  <center>
    <%= text_field_tag :search, params[:search], class: 'form-control select_all_text_on_focus', data: { keybinding: '/' } %>
    <%= submit_tag "Search", :name => nil, class: 'btn btn-info' %>
  </center>
</p>

