<% if patient.image_url(:index_thumb).present? %>
  <% patient_image_url = patient.image_url(:index_thumb).to_s %>
<% else %>
  <% patient_image_url = 'genericdoghead.png' %>
<% end %>
<tr>
  <td>
    <%= link_to image_tag(patient_image_url, height: '31'), patient %>
    <%= link_to patient.name + " #{patient.owner.last_name}", patient %>
  </td>
</tr>
