<li>
  <%= patient.id %>.
  <%= link_to patient.name + " #{patient.owner.last_name}", patient %>
  (Owned by <%= link_to "#{patient.owner.first_name} #{patient.owner.last_name}", patient.owner %>)
</li>

