<h1>Patients</h1>

<br>
<% provide(:title, 'All patients') %>

<% @patients.each do |patient| %>
<div class=thumblist>
  <ul>
    <li style="list-style-type:none" class=thumblist>
      <img class=thumblist src="https://s-media-cache-ak0.pinimg.com/236x/43/68/ba/4368bac227be42d243029c276a9a73f8.jpg" >
      <h3><a><%= patient.id %>. </a><%= link_to "#{patient.name}", patient%></h3>
      <p>Owner: <%= link_to "#{patient.owner.first_name} #{patient.owner.last_name}", patient.owner %></p> 
    </li>
  </ul>
</div>
<% end %>

<%= will_paginate %>



