<h1>Patients</h1>
<div>
	<%= link_to "Generate Feed List", new_feed_list_path, class: "btn btn-lg btn-primary"%>
</div>

<% provide(:title, 'All patients') %>
<%= will_paginate %>
<ul class="patients">
  <%= render @patients %>
</ul>
<%= will_paginate %>
