// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Patient index styling done by: Emily Ribando-Gros 4/13/2016
//Search bar styling done by: Vincent Rodomista 4/13/2016
* {margin: 0; padding: 0;}

div.thumblist {
  margin: 30px;
  text-decoration: none;
}

ul.thumblist {
  list-style-type: none;
  position: relative;
  width: 200px;
  height: 80px;
  background: #4682B4;
  padding: 10px;
}

h3.thumblist {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  text-decoration: none;
}

.glyphicon.glyphicon-trash {
    font-size: 30px;
    position: relative;
    vertical-align: middle;
}

.thumblist-staying .glyphicon.glyphicon-trash:hover, .thumblist .glyphicon.glyphicon-trash:hover {
    color: #eee;
    display: block;
    text-decoration: none;
}

a { 
  text-decoration: none; 
  color: #000;
}

.thumblist-staying a:hover, .thumblist a:hover {
  color: #eee;
  text-decoration: underline;
}

p {
  color: #000;
}

img {
  margin: 0 15px 0 0;
  vertical-align: middle;
  position: relative;
}

li p.thumblist {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li.thumblist {
  padding: 10px;
  overflow: auto;
  background: #eee;
  margin: 5px;
}

li.thumblist-staying {
  padding: 10px;
  overflow: auto;
  background: #a2c0d9;
  margin: 5px;
}

li.thumblist-staying:hover, li.thumblist:hover {
  background: #4682b4;
}

input[type="text"] {
    width: 400px;
}

input[type="submit"] {
	width: 150px;
  position: relative;
  display: inline;
}
