<footer class="footer">
  <small> 
    Kennel Management Software
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Owners',        owners_path  %></li>
      <li><%= link_to 'Patients',      patients_path %></li>
      <li><%= link_to 'Documentation', docs_path %></li>
      <li><%= link_to 'Home',          root_path %></li> 
    </ul>
  </nav>
</footer>
