<header class="navbar navbar-fixed-top navbar-inverse"> <!-- Bootstrap classes -->
  <div class="container"> <!-- generic div, given Bootstrap class "container" class -->
    <%= link_to 'Ward View', '#', id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right"> <!-- ul given Bootstrap classes -->
        <li><%= link_to 'Admin', '#', id: '' %></li>
        <li><%= link_to 'Search+', '#', id: '' %></li>
      </ul>
    </nav>
  </div>
</header>
